@{
    ViewBag.Title = "Examen";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Creado por : </p>
Alexander Barrantes Cedeño<br />
Universidad Tecnica Nacional<br>
Efren Jimenez.<br>
<a>ISW</a>            

