@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*@*<h3>@ViewBag.Message</h3>*@*@

<address>

    <abbr title="Phone">P:</abbr>
    8538 8984
</address>

<address>
    <strong>Support:</strong>   <a >AlexanderBarrantes10@gmail.com</a><br />
    <strong>Support:</strong> <a >Jrbarrantesc@est.utn.ac.cr</a>
</address>